<div class="row text-left">
    <div class="col-12 mt-3 mb-1">
        <div class="content-header">Cursos y certificados</div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid mt-2">
    <div class="container">
        <h4 class="">DESARROLLO DE APLICACIONES WEBS CON PHP Y MYSQL</h4>
        <small>30 horas presenciales</small>
        <hr>
        <div class="container">
            <p>Obtener los conocimientos del lenguaje y las pautas necesarias para el diseño de aplicaciones web con PHP.</p>
            <p>Diseñar e implementar bases de datos para el uso en aplicaciones Web.</p>
            <p>Realizar proyectos de aplicaciones web sencillas centradas en el uso de bases de datos.</p>
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <img class="img-fluid" src="assets/img/logos/php-logo.png" style="max-width: 180px;">
                    </div>
                    <div class="col-sm">
                        <img class="img-fluid" src="assets/img/logos/mysql-logo.png" style="max-width: 180px;">
                    </div>
                </div>
            </div>
            <hr>
            <p><small>Entidat certificadora: <a href="https://www.upv.es">
              Universitat Politècnica de València (UPV)
            </a></small></p>
        </div>
    </div>
</div>