<section id="minimal-statistics">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">Redes sociales</div>
        </div>
    </div>

    <div class="row text-left" matchHeight="card">
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <span>Facebook</span>
                                <a href="https://www.facebook.com/perezrevert03">
                                    <p><small class="mb-1 primary">@perezrevert03</small></p>
                                </a>
                            </div>
                            <div class="media-right align-self-center">
                                <a href="https://www.facebook.com/perezrevert03">
                                    <i class="fab fa-facebook-square primary font-large-2 float-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <span>Instagram</span>
                                <a href="https://www.instagram.com/perezrevert04/">
                                    <p><small class="mb-1 danger">@perezrevert04</small></p>
                                </a>
                            </div>
                            <div class="media-right align-self-center">
                                <a href="https://www.instagram.com/perezrevert04/">
                                    <i class="fab fa-instagram danger font-large-2 float-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <span>LinkedIn</span>
                                <a href="https://www.linkedin.com/in/perezrevert04/">
                                    <p><small class="mb-1 dark">@perezrevert04</small></p>
                                </a>
                            </div>
                            <div class="media-right align-self-center">
                                <a href="https://www.linkedin.com/in/perezrevert04/">
                                    <i class="fab fa-linkedin-square dark font-large-2 float-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body text-left">
                                <span>Twitter</span>
                                <a href="https://twitter.com/perezrevert03">
                                    <p><small class="mb-1 info">@perezrevert03</small></p>
                                </a>
                            </div>
                            <div class="media-right align-self-center">
                                <a href="https://twitter.com/perezrevert03">
                                    <i class="fab fa-twitter-square info font-large-2 float-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>