<div class="row text-left">
    <div class="col-12 mt-3 mb-1">
        <div class="content-header">Estudios</div>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h4 class="">GRADO EN INGENIERÍA INFORMÁTICA</h4>
        <small>Universitat Politècnica de València (2014 - 2019)</small>
        <hr>
        <div class="col-sm">
            <img class="img-fluid" src="assets/img/photos/upv.jpg">
        </div>
    </div>
    <br>
    <div class="container">
        <div class="col-sm mt-2">
            <strong>Ingeniería del Software</strong>
            <p class="mt-1">Desarrollar, mantener y evaluar sistemas software aplicando métodos, herramientas y prácticas propias de la ingeniería.</p>
        </div>
        <div class="col-sm mt-4">
            <strong>Lenguajes de programación</strong>
            <p class="mt-1">A lo largo de la carrera el lenguaje más utilizado es <b>Java</b>. Otros lenguajes aprendidos son <b>C</b>, <b>C#</b> y <b>Javascript</b>.</p>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <img class="img-fluid" src="assets\languages\java.png" style="max-width: 100px;">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <img class="img-fluid" src="assets\languages\c.png" style="max-width: 100px;">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <img class="img-fluid" src="assets\languages\c-sharp.png" style="max-width: 100px;">
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <img class="img-fluid" src="assets\languages\javascript.png" style="max-width: 100px;">
                </div>
            </div>
        </div>
        <div class="col-sm mt-4">
            <strong>Entornos de desarrollo</strong>
            <p class="mt-1"><b>Eclipse</b> es el IDE más utilizado durante la carrera aunque en algunas asignaturas también se utiliza <b>NetBeans</b> o <b>Visual Studio</b>.</p>
            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img class="img-fluid" src="assets\ide\eclipse.png" style="max-width: 100px;">
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img class="img-fluid" src="assets\ide\netbeans.png" style="max-width: 100px;">
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <img class="img-fluid" src="assets\ide\visualstudio.png" style="max-width: 100px;">
                </div>
            </div>
        </div>
        <div class="col-sm mt-4">
            <strong>Prácticas en empresa</strong>
            <p class="mt-2">
                <b>
                    <em>Stadler Rail Ag</em>
                </b>: Revisar el estado del arte de las metodologías de verificación y validación en la industria ferroviaria y en sectores similares. Trabajo bibliográfico y de documentación.
            </p>
            <p>
                <b>
                    <em>Epigram Development SL</em>
                </b>: Formación en los entornos de desarrollo web.
            </p>
        </div>
        <div class="col-sm mt-3">
            <strong>Trabajo de Fin de Grado</strong>
            <p class="mt-2">
                Estado del arte de las metodologías de verificación y validación en la industria ferroviaria y en sectores similares.
            </p>
            <div class="container">
                <div class="row justify-content-center">
                    <div>
                        <img class="img-fluid" src="assets\img\logos\upv.png" style="max-width: 150px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>