<div class="row justify-content-center full-height-vh" matchHeight="card">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Inicio</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <a>
                            <img alt="96x96" class="media-object d-flex mr-3 round-media" src="assets/img/portrait/small/avatar-s-12.png" style="width: 80px; height: 80px;">
                        </a>
                        <div class="media-body text-justify">
                            <h4 class="media-heading">Carles Pérez Revert</h4>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                                lacinia congue felis in faucibus. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>