<div class="row justify-content-center full-height-vh" matchHeight="card">
    <div class="col-md-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Inicio</h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="media">
                        <a>
                            <img alt="96x96" class="media-object d-flex mr-3 round-media" src="assets/img/portrait/medium/foto-perfil.jpg" style="width: 80px; height: 80px;">
                        </a>
                        <div class="media-body text-justify">
                            <h4 class="media-heading">Carles Pérez Revert</h4>
                            <h5>Ingeniero Informátco</h5>
                            <h6>Rama de Ingeniería del Software</h6>
                            <small>23/03/1996</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>